.dropzone{
  width: 300px ;
  height: 300px ; 
  border: 2px dashed #ccc ; 
  color: #ccc ; 
  line-height : 300 px ; 
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzone.dragover {
  border-color : #000 ; 
}

input[type=file]{
  width: 200px;
  height: 30px;
}

